.App {
  text-align: center;
  background-color: #F8F4F4;
  min-width: 600px;
  min-height: 120px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div#root {
  height: 100%;
  background-color: #F8F4F4;
}

.search {
  position: relative;
  top: 45px;
  height: 20%;
  margin: 0 auto;
  max-width: 300px;
  padding-bottom: 40px;
}

.search input {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  height: 32px;
  line-height: 19px;
  background-color: #FB3B49;
  border: 1px solid #FB3B49;
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-indent: 30px;
  box-shadow: 0 0 3px #ccc;
}

.fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

::-webkit-input-placeholder {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}